<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBT SMK YADIKA SOREANG</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body onload="startTime()">
    <div class="w-[95%] mx-auto">

        <div class="bg-white mt-2">
            <div class=" py-2 bg-blue-400 drop-shadow-xl mx-auto rounded-xl">
                <h1 class="text-white font-semibold font-mono pl-2">CBT SMK Yadika Soreang</h1>
            </div>
            <div class=" py-[3vh] bg-white mt-1 mx-auto drop-shadow-2xl rounded-xl">
                <div id="datetime" class=" mt-2 text-2xl text-center text-gray-800 "></div>
                <div id="txt" class=" text-7xl text-center text-gray-800"></div>
            </div>
        </div>
    </div>

    <div id="ak-10" class="hidden space-y-2 font-bold">
        <h2
            class="border-[2px] bg-white hover:bg-red-400 hover:text-white text-center border-red-400 py-3 px-20 rounded-xl ">
            X AK 1</h2>
        <h2
            class="border-[2px] bg-white hover:bg-red-400 hover:text-white text-center border-red-400 py-3 px-20 rounded-xl">
            X AK 2</h2>
    </div>

    <script>
        function startTime() {
            const today = new Date();
            let h = today.getHours();
            let m = today.getMinutes();
            let s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('txt').innerHTML = h + ":" + m + ":" + s;
            setTimeout(startTime, 1000);
            var dt = new Date();
            document.getElementById("datetime").innerHTML = (("0" + dt.getDate()).slice(-2)) + "." + (("0" + (dt.getMonth() + 1)).slice(-2)) + "." + (dt.getFullYear());
        }

        function checkTime(i) {
            if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
            return i;
        }
        var toglak = () => {
            document.getElementById('akuntansi').style.display = "block"
            document.getElementById('rpl').style.display = "none"
            document.getElementById('hotel').style.display = "none"
        }
        var toglrpl = () => {
            document.getElementById('akuntansi').style.display = "none"
            document.getElementById('rpl').style.display = "block"
            document.getElementById('hotel').style.display = "none"
        }
        var toglhtl = () => {
            document.getElementById('akuntansi').style.display = "none"
            document.getElementById('rpl').style.display = "none"
            document.getElementById('hotel').style.display = "block"
        }
    </script>
</body>

</html>