  <!-- toggle button-->
  <div class="flex text-gray-800 mt-2 text-center justify-between">
    <div onclick="toglak()"
        class="bg-white py-3 px-7 w-[31%] rounded-md drop-shadow-2xl justify-center hover:bg-red-400 grid ">
        <img class="w-16" src="https://smkyadikasoreang.sch.id/img/jurusan/account%201.png" alt="">
        <h1 class="">AKUNTANSI</h1>
    </div>
    <div onclick=" toglrpl()"
        class="bg-white md:px-10 md:py-5 p-5 w-[31%] rounded-md drop-shadow-2xl hover:bg-sky-300 grid justify-center">
        <img class="w-16" src="https://smkyadikasoreang.sch.id/img/jurusan/software-engineer%201.png"
            alt="">
        <h1 class="">RPL</h1>
    </div>
    <div onclick=" toglhtl()"
        class="bg-white md:px-10 md:py-5 p-5 w-[31%] rounded-md drop-shadow-2xl hover:bg-orange-400 grid justify-center">
        <img class="w-16" src="https://smkyadikasoreang.sch.id/img/jurusan/pin%201.png" alt="">
        <h1 class="">HOTEL</h1>
    </div>

</div>